
/*内容宽度*/
$baseWidth: 1200px;
/*基本主题颜色*/
$baseColor:#ffcc00;
/* 默认内容左右边距 */
$basePadding:0 35px;
/*文本基础字体*/
$baseFontFimaly:"Hiragino Sans GB W3", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
/* 默认背景 */
$baseBackground:#fff;
/* 默认内容背景 */
$baseContentBackground:#eee;
/*金色*/
$goldColor:#fece52;
/*灰色*/
$grayColor:#e5e5e5;
/*coffe*/
$coffeColor:#705330;
/*资源背景色*/
$workFlowBac:#f5f5f5;
/*表单修改文字颜色*/
$flowFormEditColor:#999;
/* flow表单左边字体颜色 */
$flowFormLabelColor:#666633;





/* 以下为各个模块的z-index定义 */
$workFlowMenuIndex:12;/*工作流程左边目录z-index*/

$dodalDialogIndex:1050;/**dialog弹窗框的z-index****/

/* 以上为各个模块的z-index定义 */