@import '../../../assets/global/global';
@import "../../../assets/mixin/mixin";
$bannerHeight:365px;
.index-nav {
    margin-bottom: 25px;
    width: 100%;
    height: 62px;
    border-bottom: 1px solid $baseColor;
    line-height: 70px;
    li {
        float: left;
        width: 14.2857143%;
        color: #705330;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 18px;
        &:hover,
        &:active,
        &:focus {
            color: $baseColor;
            cursor: pointer;
        }
    }
    li.active {
        color: $baseColor;
    }
}

.indexres-list-ul {
    .list_div:not(:last-of-type){
        li{
            border-bottom: 1px solid #ccc;
        }
    }
    li {
        position: relative;
        padding: 20px 0;
        height: 137px;
        img {
            position: absolute;
            top: 20px;
            left: 0;
            width: 150px;
            height: 98px;
        }
    }
    .child-list {
        padding-left: 168px;
        width: 100%;
        h3 {
            color: #3b3b3b;
            font-size: 18px;
            cursor: pointer;
        }
        .content {
            overflow: hidden;
            margin-top: 10px;
            margin-bottom: 6px;
            max-height: 40px;
            height: 40px;
            color: #999;
            line-height: 20px;

            @include text-line-clamp(2);//只显示指定行数,最后一行超出部分显示省略号.ie不支持
        }
        i {
            color: #705330;
            font-weight: 700;
            font-style: normal;
        }
        time {
            float: right;
            color: $baseColor;
        }
    }
}
.hot-reserous-dyn{
  height:$bannerHeight;
}
.binna-dyn{
  position: relative;
  z-index: 12;
  float: left;
  margin-right: -510px;
  width: 510px;
  height: inherit;
  img{
    min-height:$bannerHeight;
    max-height: $bannerHeight;
    width:100%;
  }
  .nivo-controlNav{
    position: absolute;
    right: 0;
    bottom: -19px;
    z-index: 999;
  }
}

.hot-reserous-list{
  float: left;
  padding-left:540px;
  width: 100%;
  height: inherit;
  .child-list{
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  .child-list:last-of-type{
    border-bottom: none;
  }
  .child-list{
    h3 {
        color: #3b3b3b;
        font-size: 18px;
        cursor: pointer;
    }
    .content{
      overflow: hidden;
      margin-top: 10px;
      margin-bottom: 6px;
      height: 44px;
      color: #999;
      line-height: 20px;

      @include text-line-clamp(2);
    }
    i{
      color: #705330;
      font-weight: 700;
      font-style: normal;
    }
    time{
      float: right;
      color: $baseColor;
    }
  }
  .child-list:not(:first-of-type){
    padding-top:15px;
  }
}
