/*css tres style pagination*/
@import "../../../assets/global/global";
.pagination {
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    margin-left: -1px;
    padding: 6px 12px;
    border: 1px solid $baseColor;
    background-color: #fff;
    color: $baseColor;
    text-decoration: none;
    line-height: 1.42857143;
}
.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    border-color: $baseColor;
    background-color: #fff;

    color: $baseColor;
    cursor: not-allowed;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    border-color: $baseColor;
    background-color: $baseColor;
    color: #fff;
    cursor: default;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}